<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Pacifico" rel="stylesheet">
  <link rel="stylesheet" href="styles.css">
  <title>Accueil</title>
</head>
<body>
  <header id="header">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h1 class="title">Blog</h1>
        </div>
        <div class="col-md-8 menu">
          <a href="#" class="active">Articles</a>
          <a href="#">A propos</a>
          <a href="#">Contacts</a>
        </div>
      </div>
    </div>
  </header>
  <section>
    <article class="article">
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <img src="img1.png" class="img-fluid article-img"/>
          </div>
          <div class="col-md-7">
            <h2>Duis aute irure dolor in henderit in voluptate.</h2>
            <p>
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commo doconsequat, sunt in culpa qui officia deserunt mollit anim id est laborum.<br /> 
              Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur...
            </p><br />
            <a href="#" class="btn btn-a">Continuer a lire</a>
          </div>
        </div>
      </div>
    </article>
    <article class="article">
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <img src="img2.png" class="img-fluid article-img"/>
          </div>
          <div class="col-md-7">
            <h2>Duis aute irure dolor in henderit in voluptate.</h2>
            <p>
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commo doconsequat, sunt in culpa qui officia deserunt mollit anim id est laborum.<br /> 
              Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur...
            </p><br />
            <a href="#" class="btn btn-a">Continuer a lire</a>
          </div>
        </div>
      </div>
    </article>
    <article class="article">
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <img src="img3.png" class="img-fluid article-img"/>
          </div>
          <div class="col-md-7">
            <h2>Duis aute irure dolor in henderit in voluptate.</h2>
            <p>
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commo doconsequat, sunt in culpa qui officia deserunt mollit anim id est laborum.<br /> 
              Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur...
            </p><br />
            <a href="#" class="btn btn-a">Continuer a lire</a>
          </div>
        </div>
      </div>
    </article>
  </section>
  <section>
    <div class="container slide-box">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5 slide-box-left">
          <a href="#" class="previous"><i class="fa fa-long-arrow-left"></i>&nbsp;Precedent</a>
        </div>
        <div class="col-md-5 slide-box-right">
          <a href="#" class="next">Suivant&nbsp;<i class="fa fa-long-arrow-right"></i></a>
        </div>
      </div>
    </div>
  </section>
  <footer id="footer">
    <h1>Blog</h1><br />
    <p>&copy; Gtindoy, tous droits reserves.</p><br />
    <div>
      <i class="fa fa-facebook" style="font-size:36px"></i>&nbsp;&nbsp;
      <i class="fa fa-twitter" style="font-size:36px"></i>&nbsp;&nbsp;
      <i class="fa fa-instagram" style="font-size:36px"></i>&nbsp;&nbsp;
      <i class="fa fa-medium" style="font-size:36px"></i>
    </div>
  </footer>
</body>
</html>